<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css"/> 

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Prospect Scouting ", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Prospects", "Index", "Prospect")</li>
                    <li>@Html.ActionLink("Schools", "Index", "School")</li>
                    <li>@Html.ActionLink("Scouts", "Index", "Scout")</li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Assignments", "Index", "Assignment")</li>
                        <li>@Html.ActionLink("Draft Board", "BigBoard", "Prospect")</li>
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <br />
        <footer>
            <div class="wrapper">
                <nav>
                    <ul>
                        <li><a>&copy; @DateTime.Now.Year</a> |</li>
                        <li><a>@Html.ActionLink("About", "About", "Home")</a> |</li>
                        <li><a>@Html.ActionLink("Contact", "Contact", "Home")</a> |</li>
                        <li><a href="https://d-spangler.github.io/portfolio_ds20/" target="_blank">DSS</a></a></li>
                    </ul>
                </nav>
            </div>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
