@model ProspectScouting.Models.AssignmentModels.AssignmentDetail

@{
    ViewBag.Title = "Details";
}

<h2>Assignments</h2>

<div>
    <h4>Assignment Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssignmentID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignmentID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AssignmentRequest)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignmentRequest)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.School.SchoolName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.School.SchoolName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scout.FullName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scout.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Completed)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Completed)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AssignmentID }) |
    @Html.ActionLink("Remove", "Delete", new { id = Model.AssignmentID }) |
    @Html.ActionLink("Back to Assignment List", "Index")
</p>
